# ====================================================================
#  ANARGORITMIA: CONFIGURACIÓN DE GITIGNORE
# ====================================================================

# --- Aislamiento de Credenciales y Configuración Local ---
.env
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Persistencia y Bases de Datos Volátiles ---
db.sqlite3
db.sqlite3-journal

# Archivos de volcado o copias de seguridad de MongoDB
*.json
*.bson
*.json.gz
*.bson.gz

# --- Artefactos de Ejecución de Python (Evita conflictos de caché) ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Entornos Virtuales Locales (Fuerza de trabajo individual) ---
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# --- Dependencias y Artefactos del Frontend (React / Node) ---
node_modules/
/jspm_packages/

# Logs de error de NPM/Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Directorios de compilación local del Frontend
/build
/dist
/out
.next/
.cache/

# --- Metadatos de Herramientas de Trabajo (Cajas negras de IDEs) ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.project
.pydevproject

# --- asura del Sistema Operativo ---
.DS_Store
Thumbs.db
Desktop.ini

*.txt