@import "../../scss/global.scss";

.admin-layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $Gris-Anargoritmia;
  background-image: linear-gradient(315deg, black 0%, $Carmesi-Interaccion-Anargoritmia 80%);
  overflow: hidden; // Sella el viewport global contra scrollbars
  color: $Blanco-Anargoritmia;

  &__top-menu {
    height: $top-menu-height;
    width: 100%;
    z-index: 100; 
  }

  &__main-container {
    height: calc(100vh - #{$top-menu-height});
    width: 100%;
    display: flex; 
    position: relative;
  }
}