$Carmesi-Anargoritmia: #A42B2C;
$Carmesi-Interaccion-Anargoritmia: #C43335;
$Carmesi-Sombreado-Anargoritmia: #7D2122;
$Gris-Anargoritmia: #1e1e1e;
$Gris-Secundario-Anargoritmia: #2d2d2d;
$Gris-Terciario-Anargoritmia: #A0A0A0;
$Blanco-Anargoritmia: white;
$Verde-Anargoritmia: #3E6B48;
$Verde-Interaccion-Anargoritmia: #589465;
$Verde-Sombreado-Anargoritmia: #2A4B32;